<%- include('head') -%> 
    <div class="container">
        <div class="md-12 inner">
            <h1 class="inner__title">Welcome NodeJs</h1>
            <p>JSON object import</p>
            <h2>어서오세요 <strong style="font-weight:bold"><%- id %></strong> 님</h2>
            <p><%- description %></p>
        </div>
    </div>
<%- include('footer') -%> 