<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 폼</title>
</head>
<body>
    <h1>로그인</h1>
    <p>환영합니다 여행자여 </p>
    <form action="/login_success" method="post">
        <p>
            <input type="text" name="id" id="">
        </p>
        <div>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="로그인">
    </form>
</body>
</html>