<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form</title>
  </head>
  <body>
    <h1>your first form</h1>
    <form action="/topic" method="POST">
        <p>
            <input type="text" name="title" placeholder="your title">
        </p>
        <p>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </p>
        <input type="submit" value="제출">
    </form>
  </body>
</html>
