<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new topic</title>
</head>
<style>
  a{text-decoration: none;}
  .btn_black{display:block;width:120px;line-height:2.5;background-color: #333;text-align: center;}
  .btn_black > a {color:#fff;}
</style>
<body>
    <h1><a href="/topic">Server side javascript</a></h1>
    <ul>
      <% topics.forEach(file => { %>
       <li><a href="/topic/<%= file %>" ><%= file %></a></li>
      <% }) %>
    </ul>
    <article>
      <h2><%= title %> </h2>
      <p><%= description %></p>
    </article>
    <p class="btn_black"><a href="/topic/new">글쓰기</a></p>
</body>
</html>